.purple_button {
    font-size: 22px;
    padding: .3rem;
    padding-left: .9rem;
    padding-right: .9rem;
    border-radius: 16px;
    border-style: solid;
    border-color: #7950F2;
    background-color: #A992EC;
    color: white;
    font-family: 'Inter', sans-serif;
    border-width: 4px;
    font-weight: normal;
    transition-duration: .3s;
}

.purple_button:hover {
    cursor: pointer;
    background-color: #a8a8a825;
    color: #7950F2;
}

@media only screen and (max-width: 768px) {
    .purple_button {
        font-size: 16px;
        margin-top: 4px;
        /* margin-left: 40px; */
    }
}