.login_form {
    width: 20%;
    min-width: 300px;
    height: 620px;
    border-radius: 16px;
    background-color: white;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.welcome_message_box {
    margin-top: 20px;
}
.welcome_message {
    opacity: 0.9;
    margin-top: 15px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}
.welcome_message_title {
    font-weight: bold;
    letter-spacing: 6px;
    color: #7950F2;
}

.button_box {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.error_message {
    font-size: 60%;
    color: #7950F2; 
}